.count-frame i {
	margin: .5em;
	font-size: 1.8em;

}

#button-frame button{ display: block;}
#button-frame .btn-lg{
	margin: 80px 0 0 0;
}

.card-panel	{
	min-height: 200px;
}

.card-panel	h5{
	text-align: center;
}

a.disabled.green {
    pointer-events: none;
	cursor: not-allowed;
}
a.disabled {
	cursor: not-allowed;
}
.modal .bottom-sheet {
	max-height: 50%;
}
.modal-content p{
	font-size: 1rem;
}

.bottom-sheet .modal-footer {
	margin: 0;
	padding: 0;
}